<ion-tabs>
  <ion-tab-bar slot="bottom" translucent="true">
    <ion-tab-button tab="home" [routerLink]="['/tabs/home']">
      <ion-icon name="albums-sharp"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="asks" [routerLink]="['/tabs/asks']">
      <ion-icon name="send-sharp"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tasks" [routerLink]="['/tabs/tasks']">
      <ion-icon name="list-sharp"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="welcome" [routerLink]="['/tabs/welcome']">
      <ion-icon name="add-circle-sharp"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="settings" [routerLink]="['/tabs/settings']">
      <ion-icon name="settings-sharp"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>