<ion-header>
  <ion-toolbar>
    <ion-title>Adicionar Tarefa</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()" class="exit">
        <ion-icon name="close-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" (ngSubmit)="submit()" class="ion-padding">
    <ion-item>
      <ion-label position="floating">Descrição</ion-label>
      <ion-textarea formControlName="description" aria-label="Descrição da tarefa" auto-grow="true">
      </ion-textarea>
    </ion-item>
    <ion-text color="danger" *ngIf="
        form.get('description')?.touched && form.get('description')?.invalid
      ">
      <small>Descrição é obrigatória.</small>
    </ion-text>

    <ion-item>
      <ion-label>Categoria</ion-label>
      <ion-select formControlName="category" aria-label="Categoria da tarefa" interface="popover">
        <ion-select-option value="Estudo">Estudo</ion-select-option>
        <ion-select-option value="Faculdade">Faculdade</ion-select-option>
        <ion-select-option value="Trabalho">Trabalho</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-text color="danger" *ngIf="form.get('category')?.touched && form.get('category')?.invalid">
      <small>Categoria é obrigatória.</small>
    </ion-text>

    <ion-button expand="block" shape="round" type="submit" [disabled]="form.invalid">
      Salvar
    </ion-button>
  </form>
</ion-content>